<div class="container-fluid p-0">
    <div id="header-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel" style="max-height: 600px;">
        <div class="carousel-inner" style="max-height: 600px;">
            <div class="carousel-item active" style="max-height: 600px;">
                <img class="w-100" src="{{ asset "images/carousel-1.jpg"}}" alt="Image">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3" style="max-width: 900px;">
                        <h5 class="text-white text-uppercase mb-3 animated slideInDown">Chăm sóc răng miệng, bảo vệ sức khỏe</h5>
                        <h1 class="display-1 d-lg-block text-white mb-3 mb-md-4 animated zoomIn">Tận hưởng nụ cười trọn vẹn cùng Việt Mỹ
                        </h1>
                        <a href="#" onclick="FB.CustomerChat.showDialog(); return false;"
                            class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Đặt lịch</a>
                        <a href="tel:+84909646196" class="btn btn-secondary py-md-3 px-md-5 animated slideInRight">Hotline</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item" style="max-height: 600px;">
                <img class="w-100" src="{{ asset "images/carousel-2.jpg"}}" alt="Image">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3" style="max-width: 900px;">
                        <h5 class="text-white text-uppercase mb-3 animated slideInDown">Dịch vụ tận tâm, chuyên nghiệp</h5>
                        <h1 class="display-1 text-white mb-3 mb-md-4 animated zoomIn">Chinh phục nụ cười hoàn hảo
                        </h1>
                        <a href="#" onclick="FB.CustomerChat.showDialog(); return false;"
                            class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Đặt lịch</a>
                        <a href="tel:+84909646196" class="btn btn-secondary py-md-3 px-md-5 animated slideInRight">Hotline</a>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#header-carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

