<div class="bg-primary">
    <div class="container">
        <div class="p-3 p-lg-5">
            <form class="mx-auto" style="max-width: 600px;">
                <div class="input-group">
                    <input type="text" class="form-control border-white p-3" placeholder="Email của bạn">
                    <button class="btn btn-dark px-4">Nhận tin</button>
                </div>
            </form>
        </div>
    </div>
</div>