<div class="container-fluid bg-offer my-5 py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-7 wow zoomIn" data-wow-delay="0.6s">
                <div class="offer-text text-center rounded p-5">
                    <h1 class="display-5 text-white">Liên hệ ngay với chúng tôi để có những ưu đãi tốt nhất</h1>
                    <p class="text-white mb-4">Chỉ còn hơn 90 ngày nữa là Tết Nguyên Đán, đây là thời điểm gia đình sum họp, quây quần bên mâm cơm. 
                        Sẽ thật tuyệt vời nếu chúng tôi có cơ hội giúp bạn tự tin khoe nụ cười trắng sáng cùng gia đình. Liên hệ ngay!</p>
                    <a href="#" onclick="FB.CustomerChat.showDialog(); return false;" class="btn btn-dark py-3 px-5 mb-4 mb-md-0 me-lg-3">Đặt lịch</a>
                    <a href="tel:+84909646196" class="btn btn-light py-3 px-5">Hotline</a>
                </div>
            </div>
        </div>
    </div>
</div>