<div class="container-fluid bg-primary bg-testimonial py-5 my-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="owl-carousel testimonial-carousel rounded p-5 wow zoomIn" data-wow-delay="0.6s">
                    <div class="testimonial-item text-center text-white">
                        <img class="img-fluid mx-auto rounded mb-4" src="{{asset "images/testimonial-1.png"}}" alt="">
                        <a href="#videoTestimonial1" class="button more" id="testimonialLink1">
                            <p class="text-white" style="text-align: center; font-weight: bold; position: relative; z-index: 2;"><i class="fas fa-play-circle"></i> Xem video</p>
                        </a>
                        <div id="videoTestimonial1" class="mfp-hide" style="max-width: 100%; margin: 0 auto; display: flex; justify-content: space-between;">
                            <iframe class="video-popup" width="560" height="315" style="margin: auto" src="https://www.youtube.com/embed/W1RwARROqjQ?si=V71URAM3Jwb93hQE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        </div>
                        <p class="fs-5">
                            "Phòng ốc sạch sẽ, đội ngũ bác sĩ chuyên nghiệp, các nhân viên ở đây phục vụ rất là tốt
                            cho nên đây là một địa điểm lý tưởng cho cả nhà yêu đến đây để chăm sóc răng miệng"
                        </p>
                        <hr class="mx-auto w-25">
                        <h4 class="text-white mb-0">Hoa hậu doanh nhân hoàn vũ Diệu Thúy</h4>
                    </div>
                    <div class="testimonial-item text-center text-white">
                        <img class="img-fluid mx-auto rounded mb-4" src="{{asset "images/testimonial-2.png"}}" alt="">
                        <a href="#videoTestimonial2" class="button more" id="testimonialLink2">
                            <p class="text-white" style="text-align: center; font-weight: bold; display: relative; z-index: 2;"><i class="fas fa-play-circle"></i> Xem video</p>
                        </a>
                        <div id="videoTestimonial2" class="mfp-hide" style="max-width: 100%; margin: 0 auto; display: flex; justify-content: space-between;">
                            <iframe class="video-popup" width="560" height="315" style="margin: auto" src="https://www.youtube.com/embed/1iodihuYF-0?si=fQKz4XID1H2yuV2y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        </div>
                        <p class="fs-5">
                            "Kiều Ngân vô cùng hài lòng khi trải nghiệm dịch vụ tại Trung tâm Răng hàm mặt Việt Mỹ bởi dịch vụ rất là
                            tốt, trang thiết bị hiện đại, y bác sĩ tư vấn nhiệt tình, đặc biệt là giá cả phải chăng"
                        </p>
                        <hr class="mx-auto w-25">
                        <h4 class="text-white mb-0">Diễn viên Kiều Ngân</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>