{{!< default}} {{!-- The tag above means: insert everything in this file into the body of the default.hbs template --}}

<main class="gh-main">
    <div class="container-fluid bg-primary py-5 hero-header">
        <div class="row py-3">
            <div class="col-12 text-center">
                <h1 class="display-3 text-white animated zoomIn">Thông tin liên hệ</h1>
                <a href="/" class="h4 text-white">Trang chủ</a>
                <i class="fas fa-angle-right text-white px-2"></i>
                <a href="#" class="h4 text-white">Liên hệ</a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 py-4 py-lg-5 px-3">
                <div class="section-title mb-4">
                    <h5 class="position-relative d-inline-block text-primary text-uppercase">Liên hệ</h5>
                    <h1 class="display-5 mt-2 mt-md-0 mb-0">Trung tâm răng hàm mặt Việt Mỹ</h1>
                </div>
                <div class="section-body mb-4">
                    <p class="mb-2"><i class="fab fa-facebook text-primary me-2"></i>Kết nối với chúng tôi trên FB <a href="https://www.facebook.com/profile.php?id=100083368597634">tại đây</a></p>
                    <p class="mb-2"><i class="bi bi-envelope-open text-primary me-2"></i><a class="text-body" href="mailto:trungtamrhmvietmy@gmail.com">trungtamrhmvietmy@gmail.com</a></p>
                    <p class="mb-2"><i class="bi bi-telephone text-primary me-2"></i><a class="text-body" href="tel:+84909646196" >0909.646.189</a></p>
                    <p class="mb-2"><i class="bi bi-geo-alt text-primary me-2"></i>Số 2, Hoàng Hoa Thám, Phường 7, Quận Bình Thạnh, TP. Hồ Chí Minh</p>
                    <p class="mb-2"><i class="far fa-clock text-primary me-2"></i>Thứ 2 - thứ 7: sáng: 8h-12h, chiều: 14h-20h / Chủ Nhật: sáng: 8h-12h</p>
                </div>
            </div>
            <div class="col-12 col-lg-6 pt-0 pb-4 py-lg-5 px-3">
                <iframe 
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15677.156306617213!2d106.68270624848675!3d10.789157429764444!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528c44a05b62d%3A0x49e778d4d45bb1f9!2zMiBIb8OgbmcgSG9hIFRow6FtLCBQaMaw4budbmcgNywgQsOsbmggVGjhuqFuaCwgVGjDoG5oIHBo4buRIEjhu5MgQ2jDrSBNaW5oLCBWaWV0bmFt!5e0!3m2!1sen!2s!4v1700205372113!5m2!1sen!2s" 
                    width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</main>