{{!< default}}
{{!-- The tag above means: insert everything in this file into the body of the default.hbs template --}}

<main class="gh-main">
    <div class="container-fluid bg-primary py-5 hero-header">
        <div class="row py-3">
            <div class="col-12 text-center">
                <h1 class="display-3 text-white animated zoomIn">Danh sách dịch vụ</h1>
                <a href="/" class="h4 text-white">Trang chủ</a>
                <i class="fas fa-angle-right text-white px-2"></i>
                <a href="#" class="h4 text-white">Dịch vụ</a>
            </div>
        </div>
    </div>

    {{> "our-services" }}
</main>